@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: fredoka;
  width: 100vw;
  height: 100%;
  color: #0f1020;
  background-color: #ffffff;
  opacity: 1;
  background-image: linear-gradient(#f1f1f1 1.6px, transparent 1.6px),
    linear-gradient(to right, #f1f1f1 1.6px, #ffffff 1.6px);
  background-size: 10vw 10vw;
  height: 100vh;
}

@media screen and (min-width: 1024px) {
  body {
    background-size: 4vw 4vw;
  }
}

@media screen and (min-width: 1440px) {
  body {
    background-size: 6vw 6vw;
  }
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body.home-page {
  animation: moveBackground 100s linear infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.fondo-menu{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(5px); 
  animation: moveBackground 10s linear ;
}

@keyframes menuBackground {
  0% {
    background-color: rgba(0, 0, 0, 0) ;
  }
  100% {
    background-color: rgba(0, 0, 0, 1) ;
  }
}
